<%= link_to downvote_question_path(question), class: "downvote #{'voted' if current_user.voted_down_on?(question)}", method: :put, remote: true do %>
  <svg fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" class="downvote-button"><path d="M19 9l-7 7-7-7"></path></svg>
  <span class="vote-count"><%= question.get_downvotes.size %></span>
<% end%>
