<div class="row tags">
  <div class="col-md-4 offset-md-3">
    <h5 class="tags-heading">Choose to start trivia</h5>
    <div class="form-group">
      <%= select_tag "Tag", options_from_collection_for_select(@tags, :id, :name), {class: "select-input-tags", id: "select-tag", prompt: "Select one tag" } %>
    </div>
  </div>
</div>
<div class="col-md-10 mt-5 mb-5 text-center"> OR </div>
<div class="row text-center">
  <div class="col-md-4 offset-md-3">
    <input type="checkbox" id='all-tags-check' class='chk-btn' />
    <label for='all-tags-check'>All Tags</label>
  </div>
  <div class="col-md-4 offset-md-3 mt-5">
    <%= link_to "Start Trivia", questions_path(tag: ""), class: "btn btn-primary", id: "start-trivia-btn"%>
  </div>
</div>
